@font-face {
  font-family: "NIXGONFONTS-B";
  src: url("../assets/fonts/NIXGONFONTS B 2.0.otf") format("opentype");
}
@font-face {
  font-family: "NIXGONFONTS-M";
  src: url("../assets/fonts/NIXGONFONTS M 2.0.otf") format("opentype");
}
@font-face {
  font-family: "NIXGONFONTS-L";
  src: url("../assets/fonts/NIXGONFONTS L 2.0.otf") format("opentype");
}
@font-face {
  font-family: "BMJUA";
  src: url("../assets/fonts/BMJUA_otf.otf") format("opentype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  border-radius: 999em;
  background-color: #333;
}

html {
  font-family: NIXGONFONTS-L;
  font-size: 14px;
}

body {
  overflow: overlay;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a :link, a :visited {
  color: inherit;
}

button {
  padding: 20px;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

button.icon {
  width: 24px;
  height: 24px;
  background: none;
  padding: 0;
}

button:focus {
  outline: none;
}

input {
  border: 1px solid #DADADA;
  font-family: inherit;
}

input:focus {
  outline: none;
}

input[type=text], input[type=password] {
  padding: 20px;
}

input[type=password] {
  font-family: monospace;
}
input[type=password]::-webkit-input-placeholder {
  font-family: NIXGONFONTS-L;
}
input[type=password]::-moz-input-placeholder {
  font-family: NIXGONFONTS-L;
}
input[type=password]::-ms-input-placeholder {
  font-family: NIXGONFONTS-L;
}

input[type=checkbox] {
  cursor: pointer;
}

label {
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: 0.2s box-shadow;
  z-index: 99;
}
.header-container button {
  display: none;
}
.header-container.fixed {
  position: fixed;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1333333333);
}
.header-container .header {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  position: relative;
}
.header-container .header > * {
  flex: 1;
}
.header-container .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BMJUA;
  font-size: 32px;
}
.header-container .header .logo img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.header-container .header .button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.header-container .header .button-area.left {
  justify-content: flex-start;
}
.header-container .header .button-area.right {
  justify-content: flex-end;
}

.contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: #F1F1F1;
}
.contents-container.fixed {
  margin-top: 72px;
}
.contents-container > .contents {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
}
.contents-container > .contents > article {
  display: flex;
  justify-content: center;
  padding: 56px 12px;
  background-color: white;
}
.contents-container > .contents > article:nth-child(odd) {
  background-color: #F1F1F1;
}
.contents-container > .contents > article .title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: NIXGONFONTS-B;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2C2C2C;
  color: white;
}
.footer-container .footer {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 12px;
}
.footer-container .footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-abridgement {
  padding: 20px;
  width: calc((100% - 40px) / 3);
  background: white;
  border-radius: 16px;
  border: 1px solid #DADADA;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.header > .menu {
  width: 100%;
  position: absolute;
  background: white;
  top: 72px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1333333333);
  left: 0;
  border-radius: 0 0 12px 12px;
  list-style: none;
  padding: 32px;
  display: none;
  flex-direction: column;
  gap: 32px;
}
.header > .menu > li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.header > .menu > li:hover {
  color: blue;
}
.header > .menu > li > span:first-child {
  font-weight: bold;
}

.carousel {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.carousel > .list {
  display: inline-flex;
  width: 100%;
  gap: 20px;
}
.carousel > .list > * {
  flex-shrink: 0;
}/*# sourceMappingURL=alltheway.css.map */