:root {
  --primary-color: var(--dark-color-level-2);
  --error-color: rgb(207, 78, 61);
  --highlight-color: rgb(162, 48, 255);
  
  --bright-color-level-1: #FFF;
  --bright-color-level-2: #F1F1F1;
  --bright-color-level-3: #DCDCDC;
  --bright-color-level-4: #B6B6B6;
  
  --dark-color-level-1: #000;
  --dark-color-level-2: #252525;
  --dark-color-level-3: #333;
  --dark-color-level-4: #555;


  --padding-level-1: 56px;
  --padding-level-2: 36px;
  --padding-level-3: 20px;
  --padding-level-4: 12px;
  --padding-level-5: 8px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
::-webkit-scrollbar {
width: 8px;
height: 8px;
background-color: #CCC;
}
::-webkit-scrollbar-thumb {
border-radius: 999em;
  background-color: #333;
}
::selection {
  background-color: var(--dark-color-level-2);
  color: var(--bright-color-level-2);
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow: overlay;
  min-height: 100vh;
  background-color: var(--bright-color-level-2);
  color: var(--dark-color-level-2);
}

a {
  text-decoration: none;
  cursor: pointer;
  :link, :visited {
      color: inherit;
  }
}

button {
  padding: var(--padding-level-4);
  width: 240px;
  max-width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--bright-color-level-2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-level-4);
  &.icon-button {
      width: auto;
      height: auto;
      border-radius: 999em;
  }
  &.line-button {
      background-color: transparent;
      color: inherit;
      border: 1px solid var(--primary-color);
  }
  &.transparent-button {
      background-color: transparent;
      color: inherit;
      border: none;
  }
}

input {
  padding: var(--padding-level-4);
  width: 240px;
  max-width: 100%;
  border: 1px solid var(--dark-color-level-4);
  outline: none;
  &[type="checkbox"] {
      cursor: pointer;
      width: auto;
      height: auto;
  }
}

label {
  cursor: pointer;
}

ul {
  list-style: none;
}
ul.list-layout {
  background-color: var(--bright-color-level-1);
  display: flex;
  flex-direction: column;

  > li {
      padding: 20px;
  }
}

textarea {
  padding: var(--padding-level-4);
  width: 240px;
  max-width: 100%;
  resize: none;
  outline: none;
}

img {
  max-width: 100%;
}

svg.icon, svg.bright-icon {
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  @for $i from 1 to 5 {
      &.x#{$i} {
          width: $i * 12px;
          height: $i * 12px;
      }
  }
}

svg.icon > path {
  fill: none;
  stroke: var(--primary-color);
}
svg.bright-icon > path {
  fill: none;
  stroke: var(--bright-color-level-1);
}
path {
  &.left-icon {
      d: path("M15 6 L9 12 L15 18");
  }
  &.top-icon {
      d: path("M6 15 L12 9 L18 15");
  }
  &.bottom-icon {
      d: path("M6 9 L12 15 L18 9");
  }
  &.right-icon {
      d: path("M9 6 L15 12 L9 18");
  }
  &.close-icon {
      d: path("M6 6 L18 18Z M18 6 L6 18Z");
  }
  &.menu-icon {
      d: path("M4 6 L20 6Z M4 12 L20 12Z M4 18 L20 18Z");
  }
  &.search-icon {
      d: path("M14.9497 14.9497 A7 7 0 0 0 10 3 A7 7 0 0 0 10 17 A7 7 0 0 0 14.9497 14.9497Z M21 21 L14.9497 14.9497Z");
  }
  &.add-icon {
      d: path("M12 6 L12 18Z M6 12 L18 12Z");
  }
  &.remove-icon {
      d: path("M6 12 L18 12Z");
  }
  &.calendar-icon {
      d: path("M4 6 C4 6, 4 4, 6 4 L18 4 C18 4, 20 4, 20 6 L20 18 C20 18, 20 20, 18 20 L6 20 C6 20, 4 20, 4 18Z M4 11 L20 11Z M9 1 L9 7Z M15 1 L15 7Z");
  }
  &.rect-icon {
      d: path("M4 6 C4 6, 4 4, 6 4 L18 4 C18 4, 20 4, 20 6 L20 18 C20 18, 20 20, 18 20 L6 20 C6 20, 4 20, 4 18Z");
  }
  &.circle-icon {
      d: path("M3 12 C3 12, 3 3, 12 3 C12 3, 21 3, 21 12 C21 12, 21 21, 12 21 C12 21, 3 21, 3 12Z");
  }
  &.bell-icon {
      d: path("M4 20 L4 12 C4 12, 4 4, 12 4 C12 4, 20 4, 20 12 L20 20Z M9 20 C9 20, 9 23, 12 23 C12 23, 15 23, 15 20Z");
  }
  &.human-icon {
      d: path("M8 8 C8 8, 8 4, 12 4 C12 4, 16 4, 16 8 C16 8, 16 12, 12 12 C12 12, 8 12, 8 8Z M4 22 C4 22, 4 14, 12 14 C12 14, 20 14, 20 22Z");
  }
  &.in-icon {
      d: path("M2 12 L12 12Z M6 6 L12 12 L6 18 M10 4 L18 4 C18 4, 20 4, 20 6 L20 18 C20 18, 20 20, 18 20 L10 20");
  }
  &.out-icon {
      d: path("M12 12 L22 12Z M16 6 L22 12 L16 18 M14 20 L6 20 C6 20, 4 20, 4 18 L4 6 C4 6, 4 4, 6 4 L14 4");
  }
  &.eye-icon {
      d: path("M4 12 C4 12 4 8 12 8 C12 8 20 8 20 12 M9 12 C9 12 9 9 12 9 C12 9 15 9 15 12 C15 12 15 15 12 15 C12 15 9 15 9 12");
  }
  &.heart-icon {
      d: path("M12 18 C12 18 7 17 6 12 C6 12 6 7 9 6 C9 6 12 6 12 9 C12 9 12 6 15 6 C15 6 18 7 18 12 C18 12 17 17 12 18");
  }
  &.bubble-icon {
      d: path("M11 17 C11 17 6 18 6 12 C6 12, 6 6, 12 6 C12 6, 18 6, 18 12 C18 12, 18 18, 13 17 L12 19Z");
  }
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--dark-color-level-4);
}
.noborder {
  border: none;
}
.bordered {
  border: 1px solid var(--dark-color-level-4);
}
.filled {
  background-color: var(--primary-color);
  color: var(--bright-color-level-2);
}
.round {
  border-radius: 999em;
}
.horsetail {
  position: relative;
  &::before {
      content: "";
      border: 8px solid transparent;
      border-top: 6px solid var(--primary-color);
      position: absolute;
      top: calc(100% - 2px);
      left: 50%;
      transform: translateX(-50%);
  }
}

.bold-text {
  font-weight: bold;
}
.title-text {
  font-size: 2rem;
}
.sub-title-text {
  font-size: 1.5rem;
}
.contents-text {
  font-size: 1rem;
}
.sub-contents-text {
  font-size: 0.75rem;
}

.error-text {
  color: var(--error-color);
}
.highlight-text {
  color: var(--highlight-color);
}

.clickable {
  cursor: pointer;
}

.toggle-button {
  width: 40px;
  height: 24px;
  position: relative;
  > [type=checkbox] {
      width: 100%;
      height: 100%;
      appearance: none;
      border: none;
      position: relative;
      z-index: 2;
      &:checked + .toggle-layer::after {
          right: 2px;
          background-color: var(--primary-color);
      }
  }
  > .toggle-layer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 999em;
      background-color: var(--bright-color-level-2);
      z-index: 1;
      padding: 4px;
      &::after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 2px;
          right: calc(100% - 22px);
          border-radius: 999em;
          background-color: var(--dark-color-level-4);
          transition: 0.2s;
      }
  }
}

.screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #0008;
  display: none;
}
.screen-size {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.center-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fix-center-pos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 to 13 {
  .gap-level-#{$i} {
      gap: 4px * $i;
  }
  .padding-level-#{$i} {
      padding: 4px * $i;
  }
}

@for $i from 1 to 13 {
  .item-#{$i}-layout {
      > * {
          width: calc(100% / $i);
          flex-shrink: 0;
          flex-grow: 0;
      }
      @for $j from 1 to 13 {
          &.gap-level-#{$j} > * {
              width: calc((100% - (4px * $j) * ($i - 1)) / $i);
          }
      }
  }
}

.row-top-left-flex-layout, .row-top-center-flex-layout, .row-top-right-flex-layout
, .row-middle-left-flex-layout, .row-middle-center-flex-layout, .row-middle-right-flex-layout
, .row-bottom-left-flex-layout, .row-bottom-center-flex-layout, .row-bottom-right-flex-layout
, .row-top-stretch-flex-layout, .row-middle-stretch-flex-layout, .row-bottom-stretch-flex-layout
, .row-stretch-left-flex-layout, .row-stretch-center-flex-layout, .row-stretch-right-flex-layout {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
}

.row-top-left-flex-layout {
  align-items: flex-start;
  justify-content: flex-start;
}
.row-top-center-flex-layout {
  align-items: flex-start;
  justify-content: center;
}
.row-top-right-flex-layout {
  align-items: flex-start;
  justify-content: flex-end;
}
.row-middle-left-flex-layout {
  align-items: center;
  justify-content: flex-start;
}
.row-middle-center-flex-layout {
  align-items: center;
  justify-content: center;
}
.row-middle-right-flex-layout {
  align-items: center;
  justify-content: flex-end;
}
.row-bottom-left-flex-layout {
  align-items: flex-end;
  justify-content: flex-start;
}
.row-bottom-center-flex-layout {
  align-items: flex-end;
  justify-content: center;
}
.row-bottom-right-flex-layout {
  align-items: flex-end;
  justify-content: flex-end;
}
.row-top-stretch-flex-layout {
  align-items: flex-start;
  justify-content: space-between;
}
.row-middle-stretch-flex-layout {
  align-items: center;
  justify-content: space-between;
}
.row-bottom-stretch-flex-layout {
  align-items: flex-end;
  justify-content: space-between;
}
.row-stretch-left-flex-layout {
  align-items: stretch;
  justify-content: flex-start;
}
.row-stretch-center-flex-layout {
  align-items: stretch;
  justify-content: center;
}
.row-stretch-right-flex-layout {
  align-items: stretch;
  justify-content: flex-end;
}

.column-top-left-flex-layout, .column-top-center-flex-layout, .column-top-right-flex-layout
, .column-middle-left-flex-layout, .column-middle-center-flex-layout, .column-middle-right-flex-layout
, .column-bottom-left-flex-layout, .column-bottom-center-flex-layout, .column-bottom-right-flex-layout
, .column-top-stretch-flex-layout, .column-middle-stretch-flex-layout, .column-bottom-stretch-flex-layout
, .column-stretch-left-flex-layout, .column-stretch-center-flex-layout, .column-stretch-right-flex-layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;

  @for $i from 1 to 13 {
      &.item-#{$i}-layout {
          > * {
              height: calc(100% / $i);
          }
          @for $j from 1 to 13 {
              &.gap-level-#{$j} > * {
                  height: calc((100% - (4px * $j) * ($i - 1)) / $i);
              }
          }
      }
  }
}

.column-top-left-flex-layout {
  align-items: flex-start;
  justify-content: flex-start;
}
.column-top-center-flex-layout {
  align-items: center;
  justify-content: flex-start;
}
.column-top-right-flex-layout {
  align-items: flex-end;
  justify-content: flex-start;
}
.column-middle-left-flex-layout {
  align-items: flex-start;
  justify-content: center;
}
.column-middle-center-flex-layout {
  align-items: center;
  justify-content: center;
}
.column-middle-right-flex-layout {
  align-items: flex-end;
  justify-content: center;
}
.column-bottom-left-flex-layout {
  align-items: flex-start;
  justify-content: flex-end;
}
.column-bottom-center-flex-layout {
  align-items: center;
  justify-content: flex-end;
}
.column-bottom-right-flex-layout {
  align-items: flex-end;
  justify-content: flex-end;
}
.column-top-stretch-flex-layout {
  align-items: stretch;
  justify-content: flex-start;
}
.column-middle-stretch-flex-layout {
  align-items: stretch;
  justify-content: center;
}
.column-bottom-stretch-flex-layout {
  align-items: stretch;
  justify-content: flex-end;
}
.column-stretch-left-flex-layout {
  align-items: flex-start;
  justify-content: space-between;
}
.column-stretch-center-flex-layout {
  align-items: center;
  justify-content: space-between;
}
.column-stretch-right-flex-layout {
  align-items: flex-end;
  justify-content: space-between;
}

body > section > .container-layout:nth-child(even) {
  background-color: var(--bright-color-level-1);
}
.container-layout {
  width: 100%;
  max-width: 100%;
}
.box-layout {
  background-color: var(--bright-color-level-1);
  box-shadow: 0 8px 16px #0002;
}

.wrap {
  flex-wrap: wrap;
}