.carousel {
    display: inline-flex;
    width: 100%;
    overflow: hidden;

    > .list {
        display: inline-flex;
        width: 100%;
        gap: 20px;

        > * {
            flex-shrink: 0;
        }
    }
}