.carousel {
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    > .list {
        display: inline-flex;
        width: 100%;
        gap: 20px;

        > * {
            flex-shrink: 0;
        }
    }
}

.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > button {
        width: 48px;
        height: 48px;
        padding: 0;
        background-color: #5288F1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &.left-button {
            border-radius: 24px 0 0 24px;
        }
        &.right-button {
            border-radius: 0 24px 24px 0;
        }

        > svg {
            width: 24px;
            height: 24px;
            > path {
                fill: none;
                stroke: white;
                stroke-width: 2px;
            }
        }
    }
    > .page-count {
        width: 48px;
        height: 48px;
        background-color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.selected {
            color: #5288F1;
            font-family: NIXGONFONTS-B;
        }
    }
}