@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin space-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin using-area {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    // background-color: #f002;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    @include center-flex;
    width: 100%;
    background-color: $bgColor1;
    transition: 0.2s box-shadow;
    z-index: 99;
    button {
        display: none;
    }
    &.fixed {
        position: fixed;
        box-shadow: 0 8px 8px #0002;
    }
    .header {
        @include using-area;
        @include space-flex;
        padding: 20px 12px;
        position: relative;

        > * {
            flex: 1;
        }

        .logo {
            @include center-flex;
            font-family: BMJUA;
            font-size: 32px;

            img {
                width: 28px;
                height: 28px;
                margin-right: 12px;
            }
        }
        .button-area {
            @include space-flex;
            height: 100%;
            gap: 20px;

            &.left {
                justify-content: flex-start;
            }
            &.right {
                justify-content: flex-end;
            }
        }
    }
}

.contents-container {
    @include center-flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background-color: $bgColor2;
    
    &.fixed {
        margin-top: 72px;
    }

    > .contents {
        @include using-area;
        max-width: 100%;
        flex-grow: 1;

        > article {
            display: flex;
            justify-content: center;
            padding: 56px 12px;
            background-color: white;

            &:nth-child(odd) {
                background-color: #F1F1F1;
            }

            .title {
                display: flex;
                justify-content: center;
                font-size: 32px;
                font-family: NIXGONFONTS-B;
            }
        }
    }
}

.footer-container {
    @include center-flex;
    width: 100%;
    background-color: $bgColor3;
    color: white;

    .footer {
        @include using-area;
        @include space-flex;
        flex-direction: column;
        padding: 20px 12px;

        div {
            @include space-flex;
            width: 100%;
        }
    }
}

.project-abridgement {
    padding: 20px;
    width: calc((100% - 40px) / 3);
    background: white;
    border-radius: 16px;
    border: 1px solid #DADADA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.user-abridgement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;

    > .point {
        padding: 12px;
        background-color: $primaryColor;
        color: white;
        border-radius: 999em;
        z-index: 1;
        position: relative;
        box-shadow: 0 4px 4px #0004;

        &::after {
            content: '';
            border: 4px solid transparent;
            border-top: 4px solid $primaryColor;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    > img {
        width: 200px;
        height: 200px;
        border-radius: 999em;
        border: 1px solid #dadada;
        margin-top: -31px;
        -webkit-user-drag: none;
    }
}

.header {
    > .menu {
        width: 100%;
        position: absolute;
        background: white;
        top: 72px;
        box-shadow: 0 8px 8px #0002;
        left: 0;
        border-radius: 0 0 12px 12px;
        list-style: none;
        padding: 32px;
        display: none;
        flex-direction: column;
        gap: 32px;

        > li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            cursor: pointer;

            &:hover {
                color: blue;
            }

            > span:first-child {
                font-weight: bold;
            }
        }
    }
}