@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin space-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin using-area {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    // background-color: #f002;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    @include center-flex;
    width: 100%;
    background-color: $bgColor1;
    transition: 0.2s box-shadow;

    &.fixed {
        position: fixed;
        box-shadow: 0 8px 8px #0002;
    }
    .header {
        @include using-area;
        @include space-flex;
        padding: 20px 12px;

        > * {
            flex: 1;
        }

        .logo {
            @include center-flex;
            font-family: BMJUA;
            font-size: 32px;

            img {
                width: 28px;
                height: 28px;
                margin-right: 12px;
            }
        }
        .button-area {
            @include space-flex;
            height: 100%;
            gap: 20px;

            &.left {
                justify-content: flex-start;
            }
            &.right {
                justify-content: flex-end;
            }
        }
    }
}

.contents-container {
    @include center-flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background-color: $bgColor2;
    
    &.fixed {
        margin-top: 72px;
    }

    > .contents {
        @include using-area;
        max-width: 100%;
        padding: 0 12px;
        flex-grow: 1;
    }
}

.footer-container {
    @include center-flex;
    width: 100%;
    background-color: $bgColor3;
    color: white;

    .footer {
        @include using-area;
        @include space-flex;
        flex-direction: column;
        padding: 20px 12px;

        div {
            @include space-flex;
            width: 100%;
        }
    }
}